
:root {
	--curr-button: #2196f3;
	--curr-buttonHover: #0b7dda;
	--curr-buttonText: #fff;
	--curr-searchbarBg: #f1f1f1;

}

@media(prefers-color-scheme: dark) {
	:root {
		--curr-bg: #1f1d20;
		--curr-box: #1f1d20;
		--curr-border: #f5f5f5;
		--curr-text: #fff;
		--curr-link: #a9a9a9;

	}
}

@media(prefers-color-scheme: light) {
	:root {
		--curr-bg: #fff;
		--curr-border: #000;
		--curr-box: #f5f5f5;
		--curr-text: #000;
		--curr-link: unset;

	}
}

body {
	background: var(--curr-bg);
	color: var(--curr-text);
}

a {
	color: var(--curr-link);

}

p {
	color: var(--curr-text);
}

hr {
	color: var(--curr-text);
}

#site-box {

}

.center {
	text-align: center;
	text-align: -moz-center;
    text-align: -webkit-center;
	margin: auto;
}

.button {
    margin: 10px;
}

.hidden {
	display: none;
}

.contentItems {
}
