
/* Color scheme shit */
:root {
	/* darkBackground */
	--darkBackground: #1f1d20;
	--darkBackground-border: whitesmoke;
	--darkBackground-text: white;
	--darkBackground-link: darkgrey;

	/* lightBackground */
	--lightBackground: white;
	--lightBackground-border: black;
	--lightBackground-box: whitesmoke;
	--lightBackground-text: black;
	--lightBackground-link: unset;


	/* Currently used Variables */
	--curr-button: #2196F3;
	--curr-buttonHover: #0b7dda;
	--curr-buttonText: white;
	--curr-searchbarBg: #f1f1f1;

}

@media(prefers-color-scheme: dark) {
	:root {
		--curr-bg: var(--darkBackground);
		--curr-box: var(--darkBackground);
		--curr-border: var(--darkBackground-border);
		--curr-text: var(--darkBackground-text);
		--curr-link: var(--darkBackground-link);

	}
}


@media(prefers-color-scheme: light) {
	:root {
		/* Set the light vars when client prefers it */
		--curr-bg: var(--lightBackground);
		--curr-border: var(--lightBackground-border);
		--curr-box: var(--lightBackground-box);
		--curr-text: var(--lightBackground-text);
		--curr-link: var(--lightBackground-link);

	}
}

/* General Page Shit */
body {
	background-color: var(--curr-bg);
	color: var(--curr-text);
}

a {
	color: var(--curr-link);

}

p {
	color: var(--curr-text);
}

#site-box {

}

.center {
	text-align: center;
	text-align: -moz-center;
    text-align: -webkit-center;
	margin: auto;

}

.hidden {
	display: none;
}

.contentItems {

}
