
/* Color scheme shit */
:root {
	/* Currently used Variables */
	--curr-button: #2196F3;
	--curr-buttonHover: #0b7dda;
	--curr-buttonText: white;
	--curr-searchbarBg: #f1f1f1;

}

@media(prefers-color-scheme: dark) {
	:root {
		/* darkBackground */
		--curr-bg: #1f1d20;
		--curr-box: #1f1d20;
		--curr-border: whitesmoke;
		--curr-text: white;
		--curr-link: darkgrey;

	}
}


@media(prefers-color-scheme: light) {
	:root {
		/* lightBackground */
		--curr-bg: white;
		--curr-border: black;
		--curr-box: whitesmoke;
		--curr-text: black;
		--curr-link: unset;

	}
}

/* General Page Shit */
body {
	background-color: var(--curr-bg);
	color: var(--curr-text);
}

a {
	color: var(--curr-link);

}

p {
	color: var(--curr-text);
}

hr {
	color: var(--curr-text);
}

#site-box {

}

.center {
	text-align: center;
	text-align: -moz-center;
    text-align: -webkit-center;
	margin: auto;

}

.hidden {
	display: none;
}

.contentItems {

}
