
/* General Page Shit */
#mediaInfo {

}

#mediaInfo * {
    margin: 3px;
}

.container #progressBar {
    /* max-height: 320px; */
    background-color: steelblue;
    padding-right: 3px;

    top: 40px;
    bottom: 40px;
    left: -3px;
}

.container {
    max-width: 640px;
    position: relative;
}

.container * {
    /* stop a waveform from being dragable */
    user-drag: none;
    -webkit-user-drag: none;

    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;

    color: white;
    background-color: rgba(0, 0, 0, .4);
    position: absolute;
}

.container img {
    width: 100%;
    border-radius: 15px;
    position: unset;
}

.container #bottomRight {
    bottom: 5px;
    right: 10px;
    text-align: right;
}

.container #topLeft {
    top: 5px;
    left: 15px;
    text-align: left;
}

.button {
    margin: 10px;
}

/* Loading Text */
#loadingText {
    font-size: 4em;
    animation-name: loading;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes loading {
    0% {transform: scale(1,1)}
    50% {transform: scale(1.5,1.5)}
    100% {transform: scale(1,1)}
}

/* The extremely annoying to make checkboxes */
.StarContainer {
    position: relative;
    padding-left: 20px;
    cursor: pointer;
    font-size: 45px;
}

.StarContainer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark:after {
    content: '\2606';
}

.StarContainer input:checked ~ .checkmark:after {
    content: '\2605';
}

.checkBefore:after {
    content: "\2605";
}
